html{
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  overflow: visible;
}

.bold{
  font-weight: bold;
}

h1{
  font-size: 3.5rem;
  font-weight: bold;
}

h3{
  font-size: 2rem;
}

.container_padding{
  padding: 32px 24px;
}

.blankheader{
  height:64px;
}

.header{
  height: 64px;
  width: 100%;
  max-width: 1300px;
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid black 1px;
  position: fixed;
  z-index: 5;
}

.fixed_header{
  margin: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_and_title{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.logo_and_title span{
  font-size: 1.5rem;
}

.hidden_icons{
  display: none;
}

.mobile{
  display: none;
}

.icons{
  height: 3rem;
}

.header nav a{
  margin: 0px 8px;
  font-size: 1.5rem;
  color: rgb(75, 75, 75);
  text-decoration: none;
  transition: color .1s linear .075s;
}

.header nav a:hover{
  color: rgb(47,62,115);
}

.Jumbotron_container{
  position: relative;
  background-color: rgb(212, 227, 231);
  display: flex;
}

.Jumbotron{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.large_pic_container{
  width: 60%;
}

.large_pic_container img,
.large_pic_container video{
  width: 100%;
  height: auto;
}

.Jumbotron_links{
  width:30%;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.Jumbotron_links span{
   margin: 16px 0px;
}

.Start_here_button{
  padding: 8px 0px;
  font-size: 2rem;
  width: 100%;
  background-color: rgb(79,128,140);
  text-align: center;
  border-radius: 3px;
  transition: background-color .1s ease-out .075s;
}

.Start_here_button:hover{
  background-color: rgb(93,169,113);
}

.General_info{
  display: flex;
  flex-direction: row;
  background-color: rgb(245,245,245);
}

.General_info h1{
  margin: 32px 0px 24px 0px;
}

.General_info .large_pic_container{
  margin-right: 24px;
}

.campus_information{
  width: 30%;
}

.blocks{
  display: flex;
  width: 423px;
  flex-direction: row;
  align-items: center;
}

.blocks:hover{
  background-color: rgb(138,174,182);
}

.blocks span{
  display: block;
  margin: 8px 0px 8px 0px;
}

.blocks a{
  display: block;
}

.blocks img{
  width: 35%;
  margin: 16px;
}

.blocks:first-child img{
  margin-top: 0px;
}

.start_learning{
  background-color: rgb(212, 227, 231);
}

.title{
  padding-bottom: 32px;
  text-align: center;
}

.majors{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.major_info{
  display: flex;
  flex-direction: column;
  min-height: 220px;
  width: auto;
}

.majors_outline{
  background-color: rgb(138,174,182);
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.majors_outline img{
  width:100%;
  height: auto;
}

.majors_outline h3,
.majors_outline h4,
.majors_outline span{
  margin-left: 16px;
  margin-right: 16px;
}

.majors_outline h3{
  margin-top: 16px;
}

.majors_outline h4{
  margin-top: 8px;
  margin-bottom: 8px;
}

.majors_outline span{
  display: block;
  margin-bottom: 24px;
}

.thesis{
  background-color: rgb(245,245,245);
}

.thesis_info{
  display: flex;
  flex-direction: row;
}

.thesis_video video{
  border: solid black 1.5px;
  border-radius: 3px;
}

.thesis_video h3{
  margin: 24px 0px;
}

.thesis_text .blocks{
  min-height: 168px;
}

.footer{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid black 1px;
}

.footer_nav span{
  margin: 0px 8px;
}

.nav_class{
  position: relative;
  top: -64px;
}

@media only screen and (max-width: 480px) {
  .hide{
    display:none;
  }

  .hidden_icons{
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container_padding{
    padding: 0px;
  }

  .Jumbotron{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .large_pic_container{
    width: 100%;
  }

  .Jumbotron_links{
    width: 100%;
    box-sizing: border-box;
    padding: 32px 16px;
  }

  .Start_here_button{
    width: 100%;
    margin: 8px 16px;
    font-size: 2rem;
  }

  .mobile{
    display: block;
  }

  .General_info{
    padding-bottom: 32px;
  }

  .campus_information{
    width:100%;
  }

  .blocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 16px 0px 16px;
    width: 100%;
    box-sizing: border-box;
  }

  .blocks img{
    width: 100%;
  }

  .blocks:first-child img{
    margin-top: 16px;
  }

  .campus_information{
    width: 100%;
  }

  .written_info{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 16px;
    text-align: left;
  }

  .majors{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 16px 32px 16px;
  }

  .majors_outline:first-child{
    margin-top: 0px;
  }

  .majors_outline:last-child{
    margin-bottom: 0px;
  }

  .majors_outline{
    width: 100%;
    margin: 8px 0px;
  }

  .majors_outline span {
    display: none;
  }

  .major_info{
    width: 100%;
    min-height: 0px;
    margin: 0px;
  }

  .course_button{
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
  }

  .majors_outline h3{
    margin: 16px;
  }

  .thesis{
    padding-top: 32px;
  }

  .footer{
    padding: 16px;
  }
}
